*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #916464;
    padding: 10px 20px 10px 20px;
    color: #f4d7d7;
}

/* TRRBL (Top, Right, Bottom, Left) */
/* Top and bottom, right and left */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 20px;

}
.navbar ul{
    list-style: none;
    display: flex;
    

}
.navbar ul li{
    margin-right: 10px;
}

.navbar ul li:last-child{
    margin-right: 0;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

 .home {
    background-color:grey;
    height: 100vh;
    text-align: center;
}
.home h2 {
    position: relative;
    top: 45%;
    left: 0%;
    right: 25%;

}
.About-section {
    position: relative;
    height: 100vh;
    background-color: rgb(171, 173, 207);
    
}
.About-section h2 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    padding: 50px;

}
.About-section p {
    font-size: 20px;
    text-decoration: dotted;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div .About-column h3 {
    padding: 20px;
    display: block;
    width: 100%;
    text-align: center;
}    
 

.Hobbies{
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Projects-section{
    background-color: #dba7a7;
    height: 100vh;
    text-align: center;
    padding: 10px;
    
}
.Projects-section h2 {
    padding: 7px;
}

#Contact-me{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(154, 170, 184);
    height: 20vh;
    padding: 50px
}
.footer {
    width: 100%;
    text-align: center;
    background-color: #b3a9a9;
    height: 10vh;
    justify-content: center;
    padding: 40px
}



    
    

